.page-header
  %h1 Register

%form.form-horizontal{ 'ng-submit' => 'register()' }
  %p.text-danger{ 'ng-show' => 'error' }
    {{ error }}
  .form-group
    %label.col-sm-3.control-label Email
    .col-sm-5
      %input.form-control{ type: 'email', placeholder: 'Email', 'ng-model' => 'user.email' }

  .form-group
    %label.col-sm-3.control-label First Name
    .col-sm-5
      %input.form-control{ type: 'text', placeholder: 'First Name', 'ng-model' => 'user.first_name' }

  .form-group
    %label.col-sm-3.control-label Last Name
    .col-sm-5
      %input.form-control{ type: 'text', placeholder: 'Lasr Name', 'ng-model' => 'user.last_name' }

  .form-group
    %label.col-sm-3.control-label Password
    .col-sm-5
      %input.form-control{ type: 'password', placeholder: 'Password', 'ng-model' => 'user.password' }

  .form-group
    .col-sm-offset-3.col-sm-5
      %input.btn.btn-default{ type: 'submit', value: 'Register' }
      &nbsp;
      or
      &nbsp;
      %a.btn.btn-success{ href: '#/login', role: 'button' } Log In
