.jumbotron{  'ng-controller' => 'NavigationController' }
  %h1 Welcome to Projects Manager
  %p.lead Great tool to manage, plan and discuss your projects with co-workers or customers.
  %p{ 'ng-hide' => 'signedIn()' }
    %a.btn.btn-lg.btn-success{ href: '#/register', role: 'button' } Sign up today
