.jumbotron
  %h1 Welcome to Projects Manager
  %p.lead Great tool to manage, plan and discuss your projects with co-workers or customers.
  %p
    %a.btn.btn-lg.btn-success{ href: "#", role: "button" } Sign up today
